@model Kursova.ViewModels.AdminEditUserViewModel

<div class="container-fluid vh-100" style="margin-top:300px">

    <div class="rounded d-flex justify-content-center">
        <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Edit Account</h3>
            </div>
            <div class="p-4">

                <form method="post" asp-controller="Admin" asp-action="EditUser">
                    <div>
                        <input type="hidden" asp-for="Id" />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-person-plus-fill text-white"></i>
                        </span>
                        <input asp-for="UserName" placeholder="Full Name" class="form-control" required="required">
                    </div>

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-primary">
                            <i class="bi bi-envelope text-white"></i>
                        </span>
                        <input asp-for="Email" placeholder="Email" class="form-control" required="required">
                    </div>

                    <div class="d-grid mx-auto">
                        <input type="submit" class="btn btn-primary mb-3" value="Edit">
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>